.contact-form .form-group {
  margin-bottom: 15px;
}

.contact-form .form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form .row {
  margin-bottom: 0;
}
.text-danger {
  margin: 0;
  padding: 0;
  margin-bottom: -10px;
}